language: objective-c
cache: cocoapods
osx_image: xcode9.2
install:
  - rvm install ruby-2.3.3
  - bundle update
  - bundle install
  - brew update
  - brew install swiftlint || true
  - brew upgrade swiftlint || true
  - pod repo update
  - pod install
env:
  global:
    - GoogleClient=123
    - GoogleRedirectUrl=123
    - AmplitudeApiKey=123
    - SeedsDevApiKey=123
    - SeedsReleaseApiKey=123
    - SeedsDevGemsInterstitial=123
    - SeedsReleaseGemsInterstitial=123
    - SeedsReleaseShareInterstitial=123
    - SeedsDevShareInterstitial=123
    - ItunesSharedSecret=123
    - StagingKey=123
    - FB_REFERENCE_IMAGE_DIR="./ReferenceImages_32"
  matrix:
    - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=9.3"
    - DESTINATION="platform=iOS Simulator,name=iPhone 6,OS=10.3.1"
    - DESTINATION="platform=iOS Simulator,name=iPhone 8,OS=11.2"
script:
  - set -o pipefail
  - xcodebuild -workspace Habitica.xcworkspace -scheme HabiticaTests -destination "$DESTINATION" -sdk iphonesimulator11.2 clean build build-for-testing ONLY_ACTIVE_ARCH=NO | xcpretty  -f `xcpretty-travis-formatter`
  - xcodebuild -workspace Habitica.xcworkspace -scheme HabiticaTests -destination "$DESTINATION" -sdk iphonesimulator11.2 test-without-building ONLY_ACTIVE_ARCH=NO | xcpretty  -f `xcpretty-travis-formatter`
  - find /Users/travis/Library/Developer/Xcode/DerivedData/Habitica* -type f | grep "Logs/Test" | grep -i ".log" | xargs cat
  - swiftlint
after_success:
  - sleep 10
