//
//  project.xcconfig
//
//  Copyright © 2025 HabitRPG Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "./base.xcconfig"
#include? "./user.xcconfig"
