<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - Habitica-WatchOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Glance - Habitica-WatchOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Habitica-WatchOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Habitica.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HabiticaTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Notification - Habitica-WatchOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D90576771BD82DB8009BB7BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94461821AB34F5C0015215E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B967D11AB33DA7001D84F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9EB4E8A18CB4A9400BB2094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9EB4EB118CB4A9400BB2094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
