<ion-content>
  <div class="container">
    <ion-card>
      <h3>About Open Forge</h3>
      <ion-card-header>
        <ion-card-title>Our commitment</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          We believe in the power of mobile transformation. Partner with us to elevate your strategy and lead the digital frontier with unparalleled business growth and innovation.
        </p>
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>Why I'm seeing this page</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          This project is a fork of Habitica Open Source project and this is an example of an Ionic Portal page, which has
          as purpose to show how to create a simple page with Ionic components.
        </p>
      </ion-card-content>
      <ion-list>
        <ion-item>
          <div class="centered">
            <a href="https://openforge.io">Site</a>
          </div>
        </ion-item>
        <ion-item>
          <div class="centered">
            <a href="https://openforge.io/about-us/">About Us</a>
          </div>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="md" (click)="goBack()">OK</ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
