# Install:
#
# 1. $ mkdir -p private
# 2. $ mv private/fabric.key.example private/fabric.key
# 3. Edit private/fabric.key with the correct keys.
#
# See:
#
# * https://docs.fabric.io/ios/fabric/migration/xcode.html
# * bin/xcode-build-phase/fabric.sh

FABRIC_API=<FABRIC API KEY>
FABRIC_API_SECRET=<FABRIC API SECRET>

